.learnMoreModalCon {
  /* justify-content: center; */
  flex-basis: min-content;
  /* flex-flow: wrap; */
  text-align: center;
}
.modal-header .btn-close {
  padding: unset;
  margin: unset;
}
.modal-title.h4 {
  margin: auto;
}
.modalCloseBtn {
  background: rgb(168, 0, 78);
  transition-duration: 1s;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 8px;
  margin: 1rem auto;
  font-size: x-large;
  font-weight: 300;
}
.modalCloseBtn:hover {
  background: #f0f0f08f;
  border: #f0f0f08f;
  transition-duration: 0.4s;
}
