.searchBannerCon {
    display: flex;
    height: 4rem;
    background: #A8014E;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 2.4rem 0 2.4rem 0;
}
#searchInput::placeholder {
    color: #d5b4b4;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 1;
}